
<!-- About Start -->
<div class="container-xxl py-6">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow zoomIn" data-wow-delay="0.1s">
                <img class="img-fluid" src="https://cdn.icon-icons.com/icons2/1506/PNG/512/emblemdefault_103756.png">
            </div>
            <div class="col-lg-6 wow " data-wow-delay="0.1s">
                    <div class="alert alert-success" role="alert">
                       Compra Efetuada com Sucesso!
                    </div>
                <h2 class="mb-4">Compra Confirmada</h2>
                <p class="mb-4">Obrigado por escolher os nossos serviços.</p>
                <%= link_to  "Realizar uma Nova Compra", payments_path ,class: "btn btn-primary rounded-pill border-2 py-3 px-5 animated slideInRight mb-4" %>
                <%= link_to  "Voltar ao Menu inicial", root_path ,class: "btn btn-primary rounded-pill border-2 py-3 px-5 animated slideInRight mb-4" %>
            </div>
        </div>
    </div>
</div>

<i class="bi bi-check-circle-fill"></i>